<div class="list-insurance-clients">

  <div class="header-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="header-title">
      {{'insurance-clients.title' | translate}}
    </div>
    <span style="flex: 1 1 auto;"></span>
    <div fxLayoutAlign="center center">
      <button class="button-add" fxHide fxShow.gt-sm mat-flat-button color="primary" (click)="add()">
        <div>{{'common.add' | translate}}</div>
      </button>

      <button fxHide.gt-sm fxShow mat-icon-button color="primary" (click)="add()">
        <div fxLayoutAlign="center center">
          <mat-icon aria-label="add">add</mat-icon>
        </div>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <div fxLayoutAlign="center center">
          <mat-icon aria-label="add">settings</mat-icon>
        </div>
      </button>

      <mat-menu #menu="matMenu">
        <div class="mat-menu-settings" (click)="$event.stopPropagation();">
          <mat-radio-group color="primary" (change)="changeLan($event)" class="menu-settings" aria-label="Language">
            <mat-radio-button checked value="es">ES</mat-radio-button>
            <mat-radio-button value="en">EN</mat-radio-button>
          </mat-radio-group>
        </div>
        <button mat-menu-item (click)="addPolicy()">
          <mat-icon>policy</mat-icon>
          <span>{{'insurance-clients.add' | translate}}</span>
        </button>
      </mat-menu>

    </div>
  </div>

  <div class="container-form" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field class="full-width">
      <mat-label>{{'insurance-clients.clients' | translate}}</mat-label>
      <mat-select (selectionChange)="selected($event)">
        <mat-option *ngFor="let item of clients" [value]="item.clientId">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="full-width">
    </div>

  </div>

  <div class="container-table" #scrollOne>
    <table mat-table [dataSource]="dataSource" class="table-insurance-clients" matSort>


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Work Flow </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción WorkFlow </th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row; let i = index;" attr.id="button{{i}}">
          <div class="mat-buttons">
            <button mat-icon-button [matTooltipPosition]="'above'" [matTooltipClass]="'tooltip-cell'"
              matTooltip="Detalle" (click)="goDetail(row)">
              <mat-icon>description</mat-icon>
            </button>

            <button mat-icon-button [matTooltipPosition]="'above'" [matTooltipClass]="'tooltip-cell'"
              matTooltip="Eliminar" (click)="confirmDelete(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </table>

  </div>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</div>
